<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:svg="http://www.w3.org/2000/svg">
    <head>
    </head>
    <body>
        <p>
        Demo!!
        </p>
        <p>
            <a href="/refresh">
                <input type="button" value="Refresh" />
            </a>
        </p>
        <div id="web">
            <svg:svg id="svgweb" width="750" height="500">
                {% for page_url, len in root.items %}
                <script type="text/javascript">
                    function createSVGElement( eltType, properties) {
                        var tgt = document.getElementById("svgweb");
                        var elt = document.createElementNS('http://www.w3.org/2000/svg', eltType);
                        for ( prop in properties ) {
                            elt.setAttribute(prop, properties[prop]);
                            }
                        tgt.appendChild(elt);
                        }
                    var lineProperties = {'style': 'stroke:rgb(255,0,0)'};
                    lineProperties.x1 = 250 + Math.cos(2*Math.PI*({{forloop.counter}} -1)/{{num}}) * {{len}} * 50;
                    lineProperties.x2 = 250;
                    lineProperties.y1 = 250 + Math.sin(2*Math.PI*({{forloop.counter}} -1)/{{num}}) * {{len}} * 50;
                    lineProperties.y2 = 250;
                    lineProperties.id = "{{page_url}}";
                    createSVGElement('line', lineProperties);
                </script>
                {% endfor %}
                {% for page_url, len in root.items %}
                <script type="text/javascript">
                    function display(a){
                        document.getElementById("Description").innerHTML = a;
                    }
                    function createSVGElement( eltType, properties) {
                        var tgt = document.getElementById("svgweb");
                        var elt = document.createElementNS('http://www.w3.org/2000/svg', eltType);
                        for ( prop in properties ) {
                            elt.setAttribute(prop, properties[prop]);
                            }
                        tgt.appendChild(elt);
                        }
                    var circleProperties = {'style': 'fill: #1f77b4; stroke: #15537d;'};
                    circleProperties.cx = 250 + Math.cos(2*Math.PI*({{forloop.counter}} -1)/{{num}}) * {{len}} * 50;
                    circleProperties.cy = 250 + Math.sin(2*Math.PI*({{forloop.counter}} -1)/{{num}}) * {{len}} * 50;
                    circleProperties.id = "{{page_url}}";
                    circleProperties.r = "15.0";
                    circleProperties.onclick = 'display("'+circleProperties.id+'");';
                    createSVGElement('circle', circleProperties);
                </script>
                {% endfor %}
                <svg:circle r="20.0" style="fill: #1f77b4; stroke: #15537d;"
                     cx="250" cy="250" id="{{root_url}}" onclick="display(id)" />
            </svg:svg>
        </div>
        <h3>Description</h3>
        <p></p>
        <div id="Description">
        </div>
    </body>
</html>
